/* Basic reset */
*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;  
}
body{
    font-family: 'Open Sans',sans-serif;
}
/* Header Style */
.main-header{
    width: 100%;
    background-color: #F5F5F5;
    /* border-bottom: 32px; */
    border-bottom: 1px solid #f5f5f553;
    padding: 19px;
}

/* Content Alignment */
.container{
    max-width: 1218px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 19px ;
}
/* Logo Style */
.logo h1{
     font-family: 'Fira Sans',sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}
/* Sing In button style */
.btn{
    background-color: transparent;
    border: 1px solid #006A50;
    padding:15px 30px ;
    border-radius: 8px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:hover{
    background-color: #8aefd6;
    color:#0501015a;
}
/* Hero Section Style */
.hero-section{
    background-color: #C6E4D6;
    padding: 80px 0;
    max-width: 1218px;
    border-radius:25px;
    margin:32px 160px;
}
.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
    padding: 0 100px;
}
/* text content style */
.hero-content{
    flex: 1;
}
.sub-title{
    font-size: 24px;
    color: #0E0E0E;
    font-weight: 500;
    display: block;
    margin-bottom: 16px;
}
.hero-content h1{
    font-size: 56PX;
    line-height: 1.2;
    color: #0E0E0E;
    margin-bottom: 24px;
    font-family:'Fira Sans',sans-serif ;
}
/*button style */
.ex-btn{
    background-color: #006A50;
    color: #FFFFFF;
    border: none;
    padding: 17px 34px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.ex-btn:hover{
    background-color: #383a39ac;
}
/* image style */
.hero-image{
    max-width: 100%;
    height: auto;
}
/* pillar section  */
.pillar-section{
    padding: 80px 0;
    max-width: 1218px;
    margin:32px 160px;
}
.pillar-container .section-title ,.future-container .future-title{
font-size: 40px;
font-weight: bold;
margin-bottom: 32px;
}
.pillar-container .pillar-grid{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.pillar-container .pillar-card{
background-color: #FFFFFF;
border: 1px solid #E0E0E0;
padding: 24px;
border-radius: 16px;
flex: 1;
}
.pillar-card img{
    width: 50px;
    margin-bottom: 24px;
}
.pillar-card h3,.future-blue-card h3,.future-green-card h3,.future-yellow-card h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}
.pillar-card p{
    font-size: 16px;
    line-height: 24px;
}
/* Future Section */
.future-section{
    padding: 80px 0;
    max-width: 1218px;
    margin:32px 160px;
} 
.future-container .future-paragraph{
    font-size: 16px;
    line-height: 24px;
    border-bottom: 32px;
    margin-bottom: 24px;
}
.future-container .future-grid{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.future-grid .future-blue-card{
background-color: #92b4ee67;
border: 1px solid #E0E0E0;
padding: 24px;
border-radius: 16px;
flex: 1;
}
.future-grid .future-green-card{
   background-color: #C6E4D6;
border: 1px solid #E0E0E0;
padding: 24px;
border-radius: 16px;
flex: 1; 
}
.future-grid .future-yellow-card{
    background-color: #F7EBCF;
border: 1px solid #E0E0E0;
padding: 24px;
border-radius: 16px;
flex: 1; 
}
.future-blue-card img ,.future-green-card img, .future-yellow-card img{
      width: 50px;
    margin-bottom: 24px;
}
.future-blue-card p, .future-green-card p, .future-yellow-card p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}
.future-blue-card .lrn-btn{
     background-color:  #5490F5;
    border: 1px solid #00000000;
    padding:11px 20px ;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}
 .future-green-card .lrn-btn{
background-color:  #09A15C;
    border: 1px solid #00000000;
    padding:11px 20px ;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;

 }
 .future-yellow-card .lrn-btn{
background-color:  #FFC239;
    border: 1px solid #00000000;
    padding:11px 20px ;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
 }
 .quote-section{
    background-image: url('../images/quote-bg.png');
    background-repeat: no-repeat;
    background-position:left top;
    max-width: 1218px;
    margin:0 160px;
    background-color: #FFFFFF;
    border:1px solid #4a494918 ;
    padding: 24px 48px;
    border-radius: 16px;
 }
 .quote-section p{
    font-size: 16px;
    letter-spacing: 16;
    margin-bottom: 12px;
 }
 .quote-section h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 12px;
 }
 /* opinion-section */
 .opinion-section{
    background-color: #fef8f8;
    /* margin-top:80px;
    margin-left: 160px; */
    padding: 32px 0;
}
.opinion-table-container {
    width: 90%;
    max-width: 1280px;
    margin: auto;
    background-color:#FFFFFF;
    border-radius: 6px;
}
.opinion-table-container h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}
.opinion-table{
    border: 1px solid rgba(198, 228, 214, 1);
    border-collapse: collapse;
    width: 100%;
    border-radius: 16px;
}
.opinion-table thead{
    background-color: #C6E4D6;
    /* border-left: none; */
    /* justify-content: space-between; */
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}
.opinion-table tbody {
   background-color: white;
}
.opinion-table th{
    text-align: left;
    padding: 24px;
    font: 20px;
    font-weight: 700;
}
.opinion-table td{
    padding: 36.5px;
    border:1px solid #0e0e0e5a ;
    font-size: 16px;
}
.opinion-table select{
    padding: 24px;
    border-radius: 5px;
    border: 1px solid #0e0e0e78;
    background-color: #C6E4D6;
    cursor: pointer;
}
.opinion-table tr{
    border: 1px solid #0e0e0e75;
}
.opinion-table tr:hover{
    background-color: #8aefd613;
}
/* news section */
.news-section{
/* border: 80px 160px; */
padding: 80px 160px;
}
.news-header h2{
font-size: 40px;
font-weight: bold;
line-height: 48px;
text-align: left;
font-family: 'Fira Sans',sans-serif;
color: rgba(14, 14, 14, 1);
margin-bottom: 24px;
}
.news-header p{
    line-height: 24px;
    font-size: 16px;
    text-align: left;
    margin-bottom: 32px;
}
.news-card{
    display: flex;
    align-items: center;
    gap: 32px;
    background: #FFFFFF;
    border: 1px solid #0e0e0e29;
    padding: 48px;
    border-radius: 20px;
    margin-bottom: 24px;
}
.news-card:nth-child(even){
    flex-direction: row-reverse;
}
.news-iamge{
    flex: 1;
}
.news-iamge img{
    width: 408px;
    height: 306px;
    border-radius: 24px;
    display: block;
}
.news-content{
flex: 1.5;
}
.news-content h3{
    font-size: 32px;
    margin-bottom: 12px;
    color: #0E0E0E;
}
.news-content img{
    height: 40px;
    width: 134px;
    margin-bottom: 12px;
}
.news-content p{
    width: 744px;
    height: 72px;
    line-height: 24px;
    font-size: 16px;
    text-align: left;
    margin-top: 12px;
}
.news-content button{
    width: 139px;
    height: 48px;
    padding: 13px 26px 13px 26px;
    background-color:rgba(0, 106, 80, 1) ;
    border-radius: 8px;
    margin-top: 12px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition:all 0.3s ease;
}
.news-content button:hover{
    background-color: #51c7a9bd;
}
