/* Basic reset */
*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;  
}
body{
    font-family: 'Open Sans',sans-serif;
}
/* Header Style */
.main-header{
    width: 100%;
    background-color: #F5F5F5;
    /* border-bottom: 32px; */
    border-bottom: 1px solid #f5f5f553;
    padding: 19px;
}

/* Content Alignment */
.container{
    max-width: 1218px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 19px ;
}
/* Logo Style */
.logo h1{
     font-family: 'Fira Sans',sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}
/* Sing In button style */
.btn{
    background-color: transparent;
    border: 1px solid #006A50;
    padding:15px 30px ;
    border-radius: 8px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:hover{
    background-color: #8aefd6;
    color:#0501015a;
}
/* Hero Section Style */
.hero-section{
    background-color: #C6E4D6;
    padding: 80px 0;
    max-width: 1218px;
    border-radius:25px;
    margin:32px 160px;
}
.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
    padding: 0 100px;
}
/* text content style */
.hero-content{
    flex: 1;
}
.sub-title{
    font-size: 24px;
    color: #0E0E0E;
    font-weight: 500;
    display: block;
    margin-bottom: 16px;
}
.hero-content h1{
    font-size: 56PX;
    line-height: 1.2;
    color: #0E0E0E;
    margin-bottom: 24px;
    font-family:'Fira Sans',sans-serif ;
}
/*button style */
.ex-btn{
    background-color: #006A50;
    color: #FFFFFF;
    border: none;
    padding: 17px 34px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.ex-btn:hover{
    background-color: #383a39ac;
}
/* image style */
.hero-image{
    max-width: 100%;
    height: auto;
}
/* pillar section  */
.pillar-section{
    padding: 80px 0;
    max-width: 1218px;
    margin:32px 160px;
}
.pillar-container .section-title ,.future-container .future-title{
font-size: 40px;
font-weight: bold;
margin-bottom: 32px;
}
.pillar-container .pillar-grid{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.pillar-container .pillar-card{
background-color: #FFFFFF;
border: 1px solid #E0E0E0;
padding: 24px;
border-radius: 16px;
flex: 1;
}
.pillar-card img{
    width: 50px;
    margin-bottom: 24px;
}
.pillar-card h3,.future-blue-card h3,.future-green-card h3,.future-yellow-card h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}
.pillar-card p{
    font-size: 16px;
    line-height: 24px;
}
/* Future Section */
.future-section{
    padding: 80px 0;
    max-width: 1218px;
    margin:32px 160px;
} 
.future-container .future-paragraph{
    font-size: 16px;
    line-height: 24px;
    border-bottom: 32px;
    margin-bottom: 24px;
}
.future-container .future-grid{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.future-grid .future-blue-card{
background-color: #92b4ee67;
border: 1px solid #E0E0E0;
padding: 24px;
border-radius: 16px;
flex: 1;
}
.future-grid .future-green-card{
   background-color: #C6E4D6;
border: 1px solid #E0E0E0;
padding: 24px;
border-radius: 16px;
flex: 1; 
}
.future-grid .future-yellow-card{
    background-color: #F7EBCF;
border: 1px solid #E0E0E0;
padding: 24px;
border-radius: 16px;
flex: 1; 
}
.future-blue-card img ,.future-green-card img, .future-yellow-card img{
      width: 50px;
    margin-bottom: 24px;
}
.future-blue-card p, .future-green-card p, .future-yellow-card p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}
.future-blue-card .lrn-btn{
     background-color:  #5490F5;
    border: 1px solid #00000000;
    padding:11px 20px ;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}
 .future-green-card .lrn-btn{
background-color:  #09A15C;
    border: 1px solid #00000000;
    padding:11px 20px ;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;

 }
 .future-yellow-card .lrn-btn{
background-color:  #FFC239;
    border: 1px solid #00000000;
    padding:11px 20px ;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
 }
 .quote-section{
    background-image: url('../images/quote-bg.png');
    background-repeat: no-repeat;
    background-position:left top;
    max-width: 1218px;
    margin:0 160px;
    background-color: #FFFFFF;
    border:1px solid #4a494918 ;
    padding: 24px 48px;
    border-radius: 16px;
 }
 .quote-section p{
    font-size: 16px;
    letter-spacing: 16;
    margin-bottom: 12px;
 }
 .quote-section h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 12px;
 }